ada:
  server:
    http-port: 8080
    http-debug-port: 8082
  log:
    verbosity-level: debug
  postgresql:
    timeout: 30s
  aggregator:
    blockfrost:
      endpoint: https://cardano-preprod.blockfrost.io/api/v0/
      timeout: 10s
      concurrent: 10
      retry:
        max: 5
        wait-min: 10s
        wait-max: 3m
      rate:
        limit: 0.9s
        burst: 10
    pool-ids: []
    refresh-rate: 2m
  genesis-ts: 1641434400

